@model IEnumerable<BankMVC.ViewModels.DocumentVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVerified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVerified)
        </td>
        @*<td>
           
            <embed src="data:application/pdf;base64,@Convert.ToBase64String(item.DocumentFile)" type="application/pdf" width="100%" height="600px" />
        </td>*@
    <td>
        @Html.ActionLink("View Document", "ViewDocument", new { id = item.Id, fileName = item.DocumentName }) |
        @Html.ActionLink("Verify", "Verify", new { id = item.Id }) 
        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
    </td>
    </tr>
}

</table>
